@import "../../../mixins";



input {
  min-width: 18em;
}

@media screen and (max-width: $screen-mobile) {
  :host {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  input {
    min-width: unset;
    width: 100%;
  }
}
