@import "../mixins";



.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: 9px 17px;
  background: $accent-color;
  color: #fff;
  font-size: 18px;
  font-family: Roboto;
  text-align: center;
  outline: none;
  cursor: pointer;

  &[disabled] {
    opacity: .5;
    cursor: default;
  }
}
