@import "../mixins";



*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background: #fff;
  color: $text-black-color;
  margin: 0;
  font: 400 16px Roboto;
  position: relative;
  padding-right: 0 !important;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}
