@import "../mixins";



.input {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;

  input {
    border-radius: 4px;
    border: 1px solid #bdbdbd;
    padding: 8px 16px;
    font-size: 18px;
    font-family: Roboto;
    width: 100%;
    flex: 1 0;

    &:focus {
      outline: none;
      border-color: $accent-color;
      border-width: 2px;
      padding: 7px 15px;
    }
  }

  .button {
    flex-shrink: 0;
  }
}
