$screen-mobile: 760px;
$screen-tablet: 1260px;
$screen-laptop: 1450px;

$white-color: #fff;
$gray-light-color: #eceff6;
$dark-gray-color: #8b93a7;
$text-black-color: #212121;
$text-white-color: #fff;
$accent-color: #222E9F;

$page-top-padding: 80px;
$page-top-padding-mobile: 48px;
$screen-mobile: 760px;
$screen-small-mobile: 360px;
$screen-small-laptop: 1280px;

$container-padding: 30px;
$container-min-width: 1260px;
$container-max-width: 1680px;
$container-padding-tablet: 48px;
$container-min-width-tablet: 760px;
$container-max-width-tablet: 1260px;
$container-padding-mobile: 16px;
$container-min-width-mobile: 320px;
$container-max-width-mobile: 560px;
