<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <label class="input">
    <input type="text" formControlName="address" placeholder="Current address">
    <button class="button" type="submit" [disabled]="isDisabled()">Get balance</button>
  </label>
  <p>
    For example, see the tokens of
    <a routerLink="/balance/0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Vitalik Buterin</a> or
    <a routerLink="/balance/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
       routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Wrapped Ether</a>
  </p>
</form>
