@import "../../../mixins";



input {
  min-width: 27em;
}


p {
  margin: .5em 0 0;
  color: rgba(0, 0, 0, .66);

  a {
    color: $accent-color;

    &.active {
      cursor: default;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $screen-mobile) {
  :host {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  input {
    min-width: unset;
    width: 100%;
  }
}
