@import "../../../mixins";



.page-inner {
  padding-top: $page-top-padding;
  padding-bottom: $page-top-padding;
}

app-table {
  width: 100%;
}

.table-controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 36px;

  @media screen and (max-width: 1080px) {
    flex-flow: column;
    margin-bottom: 12px;

    app-search-input {
      margin-top: 32px;
    }
  }
}
