<div class="page-inner">
  <div class="container">
    <div class="table-controls">
      <app-account-input
        *ngIf="address$ | async as address"
        [address]="address"
      ></app-account-input>

      <app-search-input
        (searchChange)="onSearch($event)"
      ></app-search-input>
    </div>

    <ng-container *ngIf="table$ | async as table">
      <app-table
        [table]="table"
      ></app-table>
    </ng-container>
  </div>
</div>
