:host {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 0 5px rgba(0, 0, 0, .33);
  overflow: auto;
  border-radius: 8px;
}

table {
  max-width: 100%;
  width: 100%;
}

th, td {
  padding: 8px 12px;
}

th {
  cursor: move;
  transition: background .2s;
  border-radius: 6px;
  position: relative;
  padding-right: 36px;
  padding-left: 36px;

  .cdk-drop-list:not(.cdk-drop-list-dragging) & {
    &:hover {
      background: #fafafa;
    }
  }

  &.cdk-drag-preview {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .33);
  }
}

tr {
  &:nth-child(even) {
    td {
      background: #fafafa;
    }
  }
}

.sort-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 4px;
  right: 2px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  background: #eee;
  width: 32px;
  height: 32px;
  line-height: 1;
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: transform .2s, opacity .2s;

  .cdk-drop-list:not(.cdk-drop-list-dragging) th:hover &,
  th.has-sort & {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%);
  }

  th.has-sort & {
    background: #e5e5e5;
  }
}
