<table>
  <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onDrop($event)">
    <th *ngFor="let header of displayedTable.headers" cdkDrag [class.has-sort]="hasSortToggle(header.id)">
      <span class="label">{{header.label}}</span>
      <span class="sort-toggle"
            (click)="onSortToggleClick(header.id)">
        <i class="material-icons">{{isSortToggleAsc(header.id) ? 'arrow_upward' : 'arrow_downward'}}</i>
      </span>
    </th>
  </tr>
  <tr *ngFor="let row of displayedTable.rows">
    <td *ngFor="let cell of row.cells">{{cell.content}}</td>
  </tr>
</table>
